{% extends "base.html" %}
{% block content %}
        <div>
            <h2 id="events" class="text-center" style="margin-top:1em;">Events</h2>
        </div>

        {% if current_user.admin == 1 %}
        <div class="row " style="margin:1em;">
            <div class="mx-auto">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
              <tr>
                <th>
                {{ form.title.label }}
                </th>
                <th>
                {{ form.title(size=50) }}
                </th>
            </tr>
            <tr>
              <th>
              {{ form.date.label }}
              </th>
              <th>
              {{ form.date(size=50) }}</th>
            </tr>
            <tr>
              <th>
              {{ form.location.label }}</th>
              <th>
              {{ form.location(size=50) }}</th>
            </tr>
            <tr>
              <th>
              {{ form.description.label }}</th>
              <th>
              {{ form.description(size=50) }}</th>
            </tr>
            </table>

            <p style="text-align: right; padding-right: 1.5em;">{{ form.submit() }}</p>
        </form>
        </div<div class="mx-auto"></div>>
        </div>
        {% endif %}
        
        {% for event in events %}
        <div class="card" style="margin:1em;">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ event.timestamp }} at {{ event.location }}</h6>
              <p class="card-text">{{ event.description }}</p>
            </div>
          </div>
        {% endfor %}
{% endblock %}
