{% extends "base.html" %}
{% block content %}
        <div>
            <h2 id="messages" class="text-center" style="margin-top:1em;">Messages</h2>
        </div>
        
        {% if current_user.is_authenticated %}
        <div>
        <button type="button" class="btn btn-outline-secondary mx-auto d-block">Add Message</button>
        </div>
        {% endif %}

        {% for message in messages %}
        <div class="card" style="margin:1em;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ message.username }} at {{ message.timestamp }}</h6>
              <p class="card-text">{{ message.text }}</p>
            </div>
          </div>
        {% endfor %}
{% endblock %}