{% extends "base.html" %}
{% block content %}  
        <div>
            <h2 id="messages" class="text-center" style="margin-top:1em;">Messages</h2>
        </div>
        
        {% if current_user.is_authenticated %}
        <button type="button" class="btn btn-outline-secondary">Add Message</button>
        {% endif %}

        {% for message in messages %}
        <div class="card" style="margin:1em;">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">{{ message.username }} at {{ message.timestamp }}</h6>
              <p class="card-text">{{ message.text }}</p>
            </div>
          </div>
        {% endfor %}

        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.content.label }}<br>
                {{ form.content(size=32) }}<br>
            </p>

            <p>{{ form.submit() }}</p>
        </form>

{% endblock %}
